<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monk.exam.mapper.ExamPaperMapper">

    <resultMap id="BaseResultMap" type="com.monk.exam.entity.ExamPaper">
    <!--@mbg.generated-->
    <!--@Table exam_paper -->
        <id column="id" property="id"  jdbcType="INTEGER"/>
    <result column="exam_id" property="examId"  jdbcType="INTEGER"/>
    <result column="paper_id" property="paperId"  jdbcType="INTEGER"/>
        
    </resultMap>

    <sql id="Base_Column_List">
    <!--@mbg.generated-->
        id, exam_id, paper_id
    </sql>
</mapper>