<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monk.exam.mapper.QuestionChoiceMapper">

    <resultMap id="BaseResultMap" type="com.monk.exam.entity.QuestionChoice">
    <!--@mbg.generated-->
    <!--@Table question_choice -->
        <id column="id" property="id"  jdbcType="INTEGER"/>
    <result column="course" property="course"  jdbcType="VARCHAR"/>
    <result column="question" property="question"  jdbcType="VARCHAR"/>
    <result column="option_a" property="optionA"  jdbcType="VARCHAR"/>
    <result column="option_b" property="optionB"  jdbcType="VARCHAR"/>
    <result column="option_c" property="optionC"  jdbcType="VARCHAR"/>
    <result column="option_d" property="optionD"  jdbcType="VARCHAR"/>
    <result column="answer" property="answer"  jdbcType="VARCHAR"/>
    <result column="analysis" property="analysis"  jdbcType="VARCHAR"/>
    <result column="score" property="score"  jdbcType="INTEGER"/>
    <result column="section" property="section"  jdbcType="VARCHAR"/>
    <result column="level" property="level"  jdbcType="INTEGER"/>
        
    </resultMap>

    <sql id="Base_Column_List">
    <!--@mbg.generated-->
        id, course, question, option_a, option_b, option_c, option_d, answer, analysis, score, section, level
    </sql>
</mapper>