<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monk.exam.mapper.StudentExamScoreMapper">

    <resultMap id="BaseResultMap" type="com.monk.exam.entity.StudentExamScore">
    <!--@mbg.generated-->
    <!--@Table student_exam_score -->
        <id column="id" property="id"  jdbcType="INTEGER"/>
    <result column="exam_id" property="examId"  jdbcType="INTEGER"/>
    <result column="student_id" property="studentId"  jdbcType="INTEGER"/>
    <result column="course" property="course"  jdbcType="VARCHAR"/>
    <result column="score" property="score"  jdbcType="INTEGER"/>
    <result column="exam_time" property="examTime"  jdbcType="TIMESTAMP"/>
        
    </resultMap>

    <sql id="Base_Column_List">
    <!--@mbg.generated-->
        id, exam_id, student_id, course, score, exam_time
    </sql>
</mapper>