<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monk.exam.mapper.StudentPaperAnswerMapper">

    <resultMap id="BaseResultMap" type="com.monk.exam.entity.StudentPaperAnswer">
    <!--@mbg.generated-->
    <!--@Table student_paper_answer -->
        <id column="id" property="id"  jdbcType="INTEGER"/>
    <result column="student_id" property="studentId"  jdbcType="INTEGER"/>
    <result column="paper_id" property="paperId"  jdbcType="INTEGER"/>
    <result column="question_type" property="questionType"  jdbcType="VARCHAR"/>
    <result column="question_id" property="questionId"  jdbcType="INTEGER"/>
    <result column="student_answer" property="studentAnswer"  jdbcType="VARCHAR"/>
        
    </resultMap>

    <sql id="Base_Column_List">
    <!--@mbg.generated-->
        id, student_id, paper_id, question_type, question_id, student_answer
    </sql>
</mapper>